/* common */
body{
  font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
  user-select: none;
  padding: 15px;
}

h1{
  font-weight: normal;
}

/* intro */

.intro h1{
  font-weight: bold;
  text-align: center;
  font-size: 48px;
  color:#FFFEF2;
  padding: 12px;
  margin: 24px 0;
  background-color: #AFDFE4;
}

.intro p{
  text-align: center;
  font-size: 24px; 
  margin: 16px 0;
}

/* seed */

.seed-form{
  text-align: center;
  padding: 15px;
  margin: 0 auto;
}

.seed-form form{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.seed-form p{
  font-size: 20px;
}

#seed{
  height: 20px;
  width: calc(0.8 * min(90vw,360px));
}

/* table */

table{
  margin: 15px auto 0; 
  border: black solid 2px;
  box-shadow: 4px 4px 8px #797979;
  /* border-spacing: 2px; */
  border-collapse: separate;
}

td{
  font-weight: normal;
  font-size: calc(0.8 * min(10vw,48px));
  width: min(10vw,48px);
  height: min(10vw,48px);
  text-align: center;
  vertical-align: bottom;
  border: #797979 solid 1px;
  /* border: #a9a9a9 solid 1px ; */
}

.grid{
  margin: 15px auto;
  padding: 0;
  border: black solid 2px;
  display: flex;
  flex-wrap: wrap;
  width: calc(9 * min(9vw,48px) + 20px);
  height: calc(9 * min(9vw,48px) + 20px);
}

.box{
  margin: 0 auto;
  padding: 0;
  border: black solid 2px;
  display: flex;
  flex-wrap: wrap;
  width: calc(3 * min(9vw,48px) + 4px);
  height: calc(3 * min(9vw,48px) + 4px);
}
.box:not(:nth-child(3n-2)){
  border-left:none;
}
.box:not(:nth-child(-n+3)){
  border-top:none;
}

.room{
  width: min(9vw,48px);
  height: min(9vw,48px);
  user-select: none;
  font-weight: normal;
  font-size: calc(0.8 * min(9vw,48px));
  padding: 0;
  margin: 0;
  text-align: center;
  line-height: calc(1.0 * min(9vw,48px));
  border: #797979 solid 1px;
  position: relative;
  /* color:#007394; */
  color:blue;
}

.room.fixed{
  color:black;
}

.room:not(:nth-child(3n-2)){
  border-left:none;
}

.room:not(:nth-child(-n+3)){
  border-top:none;
}
