/* common */
body{
  font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select:none;
  -ms-user-select: none;
  -webkit-touch-callout:none;
}

li{
  list-style: none;
}

button{
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
}
/* intro */

.intro h1{
  font-family: 'Yuji Syuku', serif;
  font-weight: bold;
  text-align: center;
  font-size: min(48px,10vw);
  color:#FFFEF2;
  padding: 16px;
  margin-bottom: 24px;
  background-color: #4c4948;
}

.intro p{
  text-align: center;
  font-size: 24px; 
  margin: 16px 0;
}

/* seed */

.seed-form{
  display: none;
  text-align: center;
  padding: 15px;
  margin: 0 auto;
}

.seed-form form{
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.seed-form p{
  font-size: 20px;
}

#seed{
  height: 20px;
  width: calc(0.8 * min(90vw,360px));
}

#submit{
  height: 24px;
  width: 32px;
  text-align: center;
  vertical-align: center;
  background-color: #4c4948;
  border-radius: 10%;
  box-shadow: 0 2px 2px #333132;
  transition: transform 0.05s, box-shadow 0.05s;
  transition: opacity 0.3s;
  /* outline: 1px black; */
}

#submit i{
  font-size: 20px;
  color:white;
}

/* toolbox */
.toolbox{
  position: relative;
  z-index: 1000;
  height: min(10vw,8vh, 48px);
  text-align: center;
  vertical-align: center;
  margin-bottom: 8px;
}

#error{
  display: none;
  height: 24px;
  font-size: 20px;
  font-weight: bold;
  color:red;
}

#tools{
  display: flex;
  justify-content: center;
  align-items: end;
  gap: min(5vw,4vh,24px);
  transform: translateX(0);
  transition: transform 0.3s;
}

.balloon{
  /* display: none; */
  pointer-events: none;
  opacity: 0;
  position: absolute;
  z-index: auto;
  top: calc(1.3 * min(10vw,8vh,48px));
  left: calc(50% - (6.5 * min(10vw,8vh,48px) + 4 * min(5vw,4vh,24px)) / 2 - 35px + (0.5 * min(10vw,8vh,48px)));
  padding: 8px;
  background-color: white;
  border-radius: 16px;
  width: 9em;
  text-align: center;
  box-shadow: #797979 0px 0px 4px;
  transition: opacity 0.5s;
}

.balloon::before{
  content: '';
  position: absolute;
  left: 20px;
  top: -15px;
  display: block;
  width: 0;
  height: 0;
  border-right: 15px solid transparent;
  border-bottom: 15px solid rgba(121,121,121,0.3);
  border-left: 15px solid transparent;
}

.balloon::after{
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  left: 20px;
  top: -12px;
  border-right: 15px solid transparent;
  border-bottom: 15px solid white;
  border-left: 15px solid transparent;
}

.balloon.show{
  pointer-events: auto;
  opacity: 1;
  transition: opacity 0.5s;
}

.balloon ul{
  border-radius: 16px;
}

.balloon li{
  vertical-align: center;
  line-height: 50px;
  background-color: #E6E7E8;
  cursor: pointer;
  transition: background-color 0.3s,transform 0.1s;
}

.balloon li+li{
  border-top: gray 0.5px solid;
}

.balloon li:first-child{
  border-radius: 10px 10px 0 0;
}

.balloon li:last-child{
  border-radius: 0 0 10px 10px;
}

.balloon p{
  display: inline-block;
  height: 50px;
  font-size: 20px;
  font-weight: bold;
  color:black;
}

#tools i{
  font-size: calc(0.8 * min(10vw,8vh,48px));
}

#tools button{
  position: relative;
  width: min(10vw,8vh,48px);
  height: min(10vw,8vh,48px);
  border-radius: 10%;
  background-color: white;
  transition:transform 0.2s, background-color 0.2s;
}

#watch{
  transition:background-color 0.2s 0.3s;
}

#tools button i{
  color: black;
  transition: opacity 0.3s;
}

#tools button p.comment{
  display:none;
}

#timer{
  bottom: 0;
  color: #4c4948;
  height: calc(0.6 * min(10vw,8vh,48px));
  width: calc(2.5 * min(10vw,8vh,48px));
  font-size: calc(0.6 * min(10vw,8vh,48px));
  text-align: right;
  opacity:1;
  transition: opacity 0.5s 0.3s;
}

#newgame{
  background-color: white;
  transition: background-color 0.2s;
}

#tools.hide{
  transition: transform 0.3s 0.3s;
  transform: translateX(calc(((6.5 * min(10vw,8vh,48px) + 4 * min(5vw,4vh,24px)) / 2) - ((4 * min(10vw,8vh,48px) + 3 * min(5vw,4vh,24px)) / 2)));
}

#tools button.selected{
  background-color:#4c4948;
  transition: background-color 0.2s;
}

#tools button.selected i{
  color:white;
}

#tools.hide #timer{
  opacity: 0;
  transition: opacity 0.3s;
}

#tools.hide #watch p{
  opacity: 0;
}

/* grid */
.grid{
  margin: 0 auto;
  padding: 0;
  border: black solid 1px;
  display: flex;
  flex-wrap: wrap;
  width: calc(9 * min(10vw,8vh,48px) + 20px);
  height: calc(9 * min(10vw,8vh,48px) + 20px);
  background-color: black;
}

.box{
  margin: 0 auto;
  padding: 0;
  border: black solid 2px;
  display: flex;
  flex-wrap: wrap;
  width: calc(3 * min(10vw,8vh,48px) + 4px);
  height: calc(3 * min(10vw,8vh,48px) + 4px);
}
.box:not(:nth-child(3n-2)){
  border-left:none;
}
.box:not(:nth-child(-n+3)){
  border-top:none;
}

.room{
  width: min(10vw,8vh,48px);
  height: min(10vw,8vh,48px);
  font-weight: normal;
  font-size: calc(0.8 * min(10vw,8vh,48px));
  padding: 0;
  margin: 0;
  text-align: center;
  line-height: calc(1.0 * min(10vw,8vh,48px));
  background-color: white;
  border: #797979 solid 1px;
  /* color:#007394; */
  color:blue;
  transition: opacity 0.2s;
}

.room.fixed{
  color:black;
}

.room:not(:nth-child(3n-2)){
  border-left:none;
}

.room:not(:nth-child(-n+3)){
  border-top:none;
}

/* switchbox */
.switchbox{
  width: calc(11 * min(9vw,8vh,48px));
  height: min(9vw,8vh,48px);
  display: flex;
  margin: 16px auto 0;
  padding: 0;
  justify-content: center;
  margin-bottom: 15px;
}

.switch{
  width: 10%;
  height: min(9vw,8vh,48px);
  font-size: calc(0.9 * min(9vw,8vh,48px));
  color: black;
  text-align: center;
  /* background-color: aqua; */
  line-height:min(9vw,8vh,48px);
  cursor: pointer;
  transition: opacity 0.3s,transform 0.1s;
}

.switch i{
  font-size: calc(0.8 * min(9vw,8vh,48px));
}

.switch.selected{
  background-color:#4c4948;
  border-radius: 10%;
  color:white;
}

footer{
  background: #4c4948;
  padding: 16px 0;
  color: #eee;
}

.container{
  padding: 0px 15px;
}

footer p{
  text-align: right;
}

/* widescreen */

@media only screen and (min-width:600px){
  #submit:hover{
    opacity: 0.9;
  }

  #submit:active{
    transform: translateY(1px);
    box-shadow: 0 1px 2px #333132;
  }

  .balloon li:hover{
    background-color: lightgray;
  }

  .balloon li:active{
    transform:scale(0.98);
  }

  #tools button p.comment{
    display:inline-block;
    position: absolute;
    pointer-events: none;
    opacity: 0;
    border: black solid 1px;
    background-color: #333132;
    color:white;
    border-radius: 0.5em;
    font-size: calc(0.3 * min(10vw,8vh,48px));
    transition: opacity 0.5s 0.1s;
  }

  #newgame p.comment{
    width: 7em;
    top: calc(-0.5 * min(10vw,8vh,48px));
    left: calc(-3.5em + (min(10vw,8vh,48px) / 2));
  }

  #watch p.comment{
    width: 7em;
    top: calc(-0.5 * min(10vw,8vh,48px));
    left: calc(-3.5em + (min(10vw,8vh,48px) / 2));
  }

  #restart p.comment{
    width: 6em;
    top: calc(-0.5 * min(10vw,8vh,48px));
    left: calc(-3em + (min(10vw,8vh,48px) / 2));
  }

  #answer p.comment{
    width: 6em;
    top: calc(-0.5 * min(10vw,8vh,48px));
    left: calc(-3em + (min(10vw,8vh,48px) / 2));
  }

  #tools button:active{
    transform: scale(0.95);
  }

  #tools button:hover i{
    opacity:0.6;
  }

  #tools button:hover p.comment{
    opacity: 1;
  }

  #tools button:hover p.comment.hide{
    opacity: 0;
  }

  #tools.hide #watch:hover p.comment.hide{
    opacity: 1;
  }

  .room:hover{
    opacity: 0.9;
    cursor:text;
  }

  .room.fixed:hover{
    cursor:default;
  }

  .switch:hover{
    opacity:0.5;
  }

  .switch:active{
    transform: scale(0.9);
  }

}
